@model OgrViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OgrenciDetay</title>
</head>
<body>   
    <h3>Öğrenci Detayları</h3>
    <h4>ViewData ile gelen öğrenci bilgileri</h4>
    @if (ViewData["ogrenci"] != null)
    {
        <p>Ad:@(((Ogrenci)ViewData["ogrenci"]).Ad)</p>
    }
    else
    {
        <p>Öğrenci Bulunamadı!</p>
    }

    <h4>ViewBag ile gelen öğrenci bilgileri</h4>
    @if (ViewBag.student != null)
    {
        <p>Ad:@ViewBag.student.Ad</p>
    }
    else
    {
        <p>Öğrenci Bulunamadı</p>
    }

    <h4>Viewbag ile gelen Öğretmen Bilgileri</h4>
    <p>@ViewBag.teacher.Ad</p>

    <h4>Model ile gelen öğrenci</h4>
    <p>
        @Model.Ogrenci.Ad
    </p>

    <h4>Model ile gelen öğretmen</h4>
    <p>
        @Model.Ogretmen.Ad
    </p>

    <h4>Model ile gelen Ders bilgisi</h4>
    <p>
        @Model.Ders.Dersad
    </p>
</body>
</html>
